**/.astro
**/node_modules/
**/dist/**
**/package-lock.json

# Data directories
# **/.data/
# **/data/
**/tmp
data
docker/**/data/
docker/**/.data/
docker/**/certs/
docker/**/ssl/

*.env
*.env.development
*.env.production
*.env.local
*.env.*.local
