DATABASE_URL="postgresql://user:password@localhost:5432/db?sslmode=require"
DBMATE_MIGRATIONS_DIR="./migrations"
DBMATE_SCHEMA_FILE="./migrations/schema/schema.sql"

GEOCODING_API_BASE=

COOKIE_SECURE=false
COOKIE_DOMAIN=localhost

ALLOWED_WS_ORIGINS=http://localhost:4324

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CONTACT_EMAIL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL="http://localhost:8100/api/v1/auth/google/callback"

VK_CLIENT_ID=
VK_CLIENT_SECRET=
VK_REDIRECT_URL=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URL=

FRONTEND_URL=http://localhost:4324
STATIC_DIR=
